p {

font-size: 14px;
font-family: Arial;

}

h1 {

font-size: 24px;
color: red;

}

h2 {

font-size: 18px;
color: blue;

}

ul {

font-family: Helvetica
font-size: 12px
align:     centre

}

ul {

font-family: Helvetica

}

